* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.memory__form {
  padding: 2rem;
  border: 1px solid #252525;
  display: flex;
  flex-direction: column;
}

.memory__input {
  padding: 8px 12px;
  font-size: 1.2rem;
  margin-top: 10px;
}

.memory__btn {
  padding: 8px 12px;
  outline: none;
  font-size: 1.2rem;
  border-radius: 12px;
  margin-top: 10px;
  cursor: pointer;
}

/* card */

.card-cnt {
  display: flex !important;
  flex-wrap: wrap;
}

.card {
  display: flex;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 12px ;
  width: 200px;
  height: 150px;
  padding: 2rem;
  transform-style: preserve-3d;
  transition: 200ms ease-in;
  position: relative;
  text-align: center;
  margin: 10px;
}
.card.flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px ;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in;
  background-color: blue;
}
.card-back {
  transform: rotateY(-180deg);
}

.card-front.flip {
  transform: rotateY(180deg);
}
.card-back.flip {
  transform: rotateY(0);
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
